$pink: #fce2ed;
$grey: #6f7a6a;
$darkgrey: #3f4a3a;

.station_popup {
  position: absolute;
  top: 20%;
  left: 6%;
  max-width: 44%;
  z-index: 10000;
  background-color: $pink;
  padding: 0 1rem 1rem 1rem;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.67);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 200, 200, 0.67);
  box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.67);

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .top {
    padding: 1rem;
    margin-bottom: 1rem;
    .title_wrapper {
      float: left;
      text-align: left;
      // max-width: 35%;
      .title {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1.25rem;
      }
      .custom_location {
        text-align: center;
      }
      .dates {
        text-align:center;
        font-size: 1rem;
        margin: 1rem 0; 
      }
    }
    .stations_wrapper {
      float: right;
      .from_station, .to_station {
        float: left;
        background-color: white;
        border: 2px solid black;
        padding: 3px 2px;
        margin-right: 5px;
        cursor: pointer;
        span {
          border-radius: 4px;
          padding: 0.1rem 0.6rem;
          text-transform: uppercase;
          border: 1px solid black;
        }
      }
    }
  }
  .text_wrapper {
    margin-top: 2rem;
    clear: left;

    .railway_description {
      text-align: left;
      margin-top: 1.5rem;
      font-size: 0.9rem;
      font-style: italic;
    }
    .come {
      margin: 1rem 0;
      cursor: pointer;
      background-color: $darkgrey;
      color: $pink;
      float: right;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 0.3rem 0.6rem;
    }
  }
  .route_chooser {
    text-align: left;
    ol {
      margin: 0;
      padding-left: 1rem;
    }
    li.route_item {
      cursor: pointer;
      margin: 0.5rem 0;
      span.duration {
        font-size: 0.76rem;
        font-style: italic;
      }
      .transit_deets {
        ol {
          li.offsite {
            a {
              cursor: pointer;
              color: $grey;
            }
          }
        }
      }
    }
  }
}

.site_name {
  font-weight: bold;
}
.title {
  text-decoration: underline;
  margin-bottom: 1rem;
}
.description {
  text-align: left;
  font-size: 0.9rem;
}